* {
  font-family: sans-serif;
  padding: 0;
  margin: 0;
}

body {
  background-color: #fff;
  height: 100vh;
  overflow: auto;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 56px;
}

.header>a {
  cursor: pointer;
  letter-spacing: 1px;
  color: #0f0f0f;
  text-decoration: none;
}

.nav-bar>ul {
  display: flex;
  gap: 20px;
  list-style-type: none;
}

.nav-bar>ul>a {
  color: #0f0f0f;
  text-decoration: none;
}

.container-home {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 80%;
  margin: 50px auto;
  height: 400px;
}

.container {
  display: flex;
  justify-content: space-evenly;
  width: 80%;
  margin: 50px auto;
  height: 400px;

}

.content {
  width: 30%;
}

.content>h1 {
  font-size: 50px;
}

.content>h4 {
  font-size: 18px;
}

.content>p {
  font-size: 16px;
  padding: 10px 0px;
  line-height: 20px;
}

.profile-img {
  width: 245px;
}

.profile-img>img {
  width: 100%;
  /* border-radius: 52% 117% 90% 96%; */
  border-radius: 85% 105% 90% 96%;
}

.contact-btn {
  background-color: #1d9157;
  text-transform: capitalize;
  padding: 15px;
  border: none;
  border-radius: 6px;
  text-align: center;
  display: flex;
  font-size: 14px;
  margin-top: 10px;
}

.contact-btn:hover {
  background-color: #cf0643;
}

.contact-btn>a {
  text-decoration: none;
  color: white;
  display: flex;
  gap: 2px;
}

.social {
  padding-top: 15px;
  line-height: 45px;
}

.footer-container {
  position: absolute;
  bottom: 0px;
  width: 100%;
  font-size: small;
  border-top: 1px solid rgb(58, 54, 54);
  padding: 10px 0px;
  text-align: center;
}

.about {
  width: inherit;
  font-family: auto;
}

.about>h1 {
  text-align: center;
  margin-bottom: 10px;
}

.education {
  text-align: center;
}

.education>ul {
  text-align: center;
  width: inherit;
  list-style-type: none;
  line-height: 2;
}

/*contact page */
.container form {
  width: 100%;
}

.contact-card {
  width: 45%;
  height: fit-content;
  margin: auto;
  border-radius: 10px;
  box-shadow: 0px 0px 10px 1px lightgrey;
  padding: 10px 0px;
  background: rgb(255, 255, 255);
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
  border: 1px solid rgb(165, 0, 0);

}

.contact-card h1 {
  color: #0f0f0f;
  text-align: center;
}

.contact-inpt {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 80%;
  margin: 20px auto;
  height: 80%;
}

.form-inpt {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 8px;
}

.form-inpt input {
  height: 30px;
  width: 70%;
  padding: 3px 5px;
  border-radius: 5px;
  border: 1px solid grey;
  outline: none;
  box-shadow: inset;
  font-size: medium;
}

.form-inpt>input:focus {
  border: 1px solid #0044ff;
}

.form-inpt>textarea {
  width: 70%;
  padding: 3px 5px;
  height: 100px;
  border-radius: 5px;
  outline: none;
  font-size: medium;

}

.form-inpt>textarea:focus {
  border: 1px solid #0044ff;
}

.form-inpt>label {
  width: 30%;
}

.contact-inpt>button {
  background-color: #0044ff;
  border: none;
  border-radius: 5px;
  padding: 12px 11px;
  letter-spacing: 1px;
  margin-left: auto;
  margin-top: 8px;
}


.contact-inpt>button:hover {
  background-color: #0036c9;
}

.contact-inpt>button>a {
  text-decoration: none;
  color: white;
}

.skill>h1 {
  text-align: center;
  line-height: 2;
}

.skill>ul {
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  line-height: 100px;
}