{% extends "layout.html" %}

{% block content %}
<div class="container">
    <form>
        <div class="contact-card">
            <h1>Get In Touch</h1>
            <div class="contact-inpt">
                <div class="form-inpt">
                    <label for="name">Full Name: </label>
                    <input id="name" type="text" placeholder="full name">
                </div>
                <div class="form-inpt">
                    <label for="email"> Email: </label>
                    <input id="email" type="email" placeholder="abc@gmail.com">
                </div>
                <div class="form-inpt">
                    <label for="subject"> Subject: </label>
                    <input id="subject" type="text" placeholder="job, teamwork">
                </div>
                <div class="form-inpt">
                    <label for="textarea">Message:</label>
                    <textarea id="textarea" placeholder="Type your message..."></textarea>
                </div>
                <button><a href="mailto:arunakumariofficial@gmail.com">Submit</a></button>
            </div>
        </div>
    </form>
</div>
{% endblock %}