{% extends "layout.html" %}

{% block content %}

<div class="container">
    <div class="education">
        <h1>Education</h1>
        <div class="table">
            <table>
                <tr>
                    <td>BTech</td>
                    <td>MIT ACademy Of Engineering, Pune, Maharashtra
                        Stream - Electronics And Telecommunication
                    </td>
                    <td>2021</td>
                </tr>
                <tr>
                    <td>12th</td>
                    <td>RSDM college, Saran, Bihar
                        Stream - Science
                    </td>
                    <td>2015</td>
                </tr>
                <tr>
                    <td>10th</td>
                    <td>RSH School, Saran, Bihar</td>
                    <td>2013</td>
                </tr>
            </table>
        </div>
    </div>
</div>

{% endblock %}