{% extends "layout.html" %}

{% block content %}
<div class="container">
    <div class="education">
        <h1>Education</h1>
        <ul>
            <li>BTech (2021)</li>
            <li>MIT ACademy Of Engineering, Pune, Maharashtra
                (Stream - Electronics And Telecommunication)</li>
        </ul>
        <ul>
            <li>12th (2015)</li>
            <li>RSDM college, Saran, Bihar
                (Stream - Science)</li>
        </ul>
        <ul>
            <li>10th (2013)</li>
            <li>RSH School, Saran, Bihar</li>
        </ul>
    </div>
</div>
{% endblock %}