{% extends "layout.html" %}

{% block content %}
<div class="container">
    <div class="skill">
        <h1>Skills</h1>
        <ul>
            <li><img src="../static/html-5.svg">HTML5</li>
            <li><img src="../static/css-3.svg">CSS</li>
            <li><img src="../static/bootstrap.svg">Bootstrap</li>
        </ul>
        <ul>
            <li><img src="../static/python.svg">Python</li>
            <li><img src="../static/flask.svg">Flask</li>
        </ul>
    </div>
</div>

{% endblock %}