{% extends "layout.html" %}

{% block content %}

<div class="container">
    <div class="skills">
        <h1>Skills</h1>
        <div class="table">
            <table>
                <tr>
                    <td> HTML5</td>
                    <td>⭐⭐⭐⭐⭐</td>
                </tr>
                <tr>
                    <td> CSS</td>
                    <td>⭐⭐⭐</td>
                </tr>
                <tr>
                    <td> Python</td>
                    <td>⭐⭐⭐⭐⭐</td>
                </tr>
                <tr>
                    <td> Flask</td>
                    <td>⭐⭐⭐⭐</td>
                </tr>
                <tr>
                    <td>Bootstrap</td>
                    <td>⭐⭐⭐⭐⭐</td>
                </tr>
            </table>
        </div>
    </div>
</div>

{% endblock %}